/*==========================================
  Reset Styles
==========================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================
	accessibility 
==========================================*/
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*==========================================
	misc
==========================================*/

/* set: 1rem = 10px */
html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
body {
  font-size: 1rem;
}

/* prevent horizontal scroll */
html, body {
	width: 100%;
}

* {
	box-sizing: border-box;
}

/* box sizing at border box */
* {
  box-sizing: border-box;
}


:root {
  --background: #131619;
  --font: "Heebo", sans-serif;
  --altFont: "Yantramanav", serif;
  --fontBlack: #000;
  --fontWhite: #FFF;
  --fontGrey: #c4c4c4;
  --bgWhite: #FFF;
  --bgBlack: #000;
	--pointColor: #affe02;
}



/*==========================================
	header
==========================================*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-size);
  padding: 0 3.2rem;
}
header > h1 { margin: 3.25rem ;}
header > h1 > a > img { width: 13.5rem; height: 2.5rem; }
header > .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
header > .gnb > ul {
  display: flex;
  align-items: center;
  gap: 6.3rem;
  height: 100%;
}
header > .gnb > ul > li#bookNow {
  display: none;
}
header > .gnb > ul > li > a {
  font-family: var(--font);
  font-size: 1.4rem;
  color: var(--fontWhite);
  font-weight: 700;
  line-height: 1.8rem; /* 150% */
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-decoration: none;
}
header > .utility {
  display: flex;
  align-items: center;
  gap: 3.9rem;  
}
header > .utility > .btn-book {
  padding: 0.7rem 2.6rem;
  border-radius: 3rem;
  color: var(--fontBlack);
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem; /* 200% */
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
header > .utility .btn {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

header > .utility > #hamburger {
  display: none;
}

@media all and (max-width: 1300px) {
  header > h1 { 
    margin-left: 0rem ;
  }
  header > .gnb > ul {
    gap: 3rem;
  }
}

@media all and (max-width: 1300px) and (min-width: 801px) {

  header > .utility > .btn-book {
    background-color: transparent;
    color: var(--fontWhite);
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--fontWhite);
    padding: 0;
  }
}

@media all and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  /* gnb */
  header > .gnb {
    display: none;
  }
  header > .gnb > ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  header > .gnb > ul  > li  {}
  header > .gnb > ul > li > a {
    font-size: 4rem;
    line-height: 1;
  }
  /* gnb . checked */
  header > .utility:has(#hamburger:checked) ~ .gnb {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    background-color: var(--background);
    transform: translate(-50%,0);
  }
  /* utility */
  header > .utility > .btn-book {
    display: none;
  }
  #btn-hamburger {
    z-index: 12;
    /* position: fixed; */
    right: 3.2rem;
  }
  /* utility . checked */
  header > .utility:has(#hamburger:checked) > .btn-book {
    display: inline-block;
    z-index: 12;
    position: fixed;
    right: 10rem;
  }
  header > .utility:has(#hamburger:checked) > #btn-hamburger {
    position: fixed;
  }
}


/*==========================================
	footer
==========================================*/

/* arrow button */
.btn--arrow {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  border-radius: 3rem;
  border: 1px solid var(--fontWhite);
  cursor: pointer;
  color: var(--fontWhite);
  font-family: var(--font);
}
.btn--arrow::after{
    content: "";
    background: url("images/ico_viewMore.svg") no-repeat;
    background-position: center center;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -.1rem;
    border: 1px solid var(--fontWhite);
    transform: rotate(0deg);
    transition: transform 1s ease;
}
.btn--arrow:hover::after {
  transform: rotate(45deg);
}

footer {
  width: 100%;
  background-color: var(--bgBlack);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14.1rem;
}
.footer__wrapper {
  max-width: 130rem;
  width: 67.7%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6.5rem;
  column-gap: 3rem;
}
.footer__logo {
  align-self: center;
  width: 20rem;
  object-fit: cover;
}

.footer__logo img {
  width: 100%;
}
.footer__text {
  grid-column: 2/5;
  color: var(--fontWhite);
  font-family: var(--font);
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.3rem; /* 165% */
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
.footer__item {
  height: 26.6rem;
  flex: 1;
}
.footer__item__title {
  color: var(--fontWhite);
  font-family: var(--font);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.8rem; /* 172.7% */
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.footer__item__body {
  color: var(--fontWhite);
  font-family: var(--font);
  /* font-size: 1.6rem; */
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem; /* 175% */
  letter-spacing: 0.08rem;
  display: flex;
  flex-direction: column;
}
#footer__item--about .footer__item__body {
  gap: 1.3rem;
}
#footer__item--location .footer__item__body {
  gap: 3.7rem;  
}
#footer__item--working-hours .footer__item__body {
  white-space: nowrap;
}
#footer__item--start-now .footer__item__title::after {
  content: "";
  background-image: url(images/ico_arrow_7.svg);
  display: inline-flex;
  margin-left:1rem;
  width: 1.63rem;
  height: 1.63rem;    
}
.footer__input {
  color: white;
  background-color: transparent;
  display: inline-flex;
  padding: 1.5rem 2.5rem;
  align-items: flex-start;
  color: var(--fontGrey);
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.08rem;
  border-radius: 3rem;
  border: 1px solid #404040;
  outline: none;
}

.footer__item__icon-wrapper {
  height: 2rem;
  margin-top: 5rem;
  display: flex;
  gap: 1.88rem;
}
.footer__item__icon-wrapper img {
  height: 2rem;
}
#footer__item--start-now .btn--arrow {
  width: 100%;
}
#footer__item--start-now input {
  border: none;
}
.footer__bottom-text {
  grid-column: 1/5;
  padding:1.2rem 0;
  color: var(--fontWhite);
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.8rem; /* 200% */
}
@media all and (max-width: 1300px) {
  .footer__wrapper {
    width: 80%;
    row-gap: 2.4rem;
  }
  .footer__logo {
    grid-column: 1/5;
    width: 14.64rem;
    object-fit: cover;
  }
  .footer__logo img {
    width: 100%;
  }
  .footer__text {
    /* font-size: 1.6rem; */
    grid-column: 1/5;
  }
  .footer__item {
    height: fit-content;
  }
  .footer-item-title {
    margin-bottom: 1rem;
  }
  #footer__item--about {
    grid-column: 1/3;
  }
  #footer__item--working-hours  {
    grid-column: 3/5;
  }
  #footer__item--location  {
    grid-column: 1/3;
  }
  #footer__item--location .footer__item__body {
    gap: 1rem;
  }
  #footer__item--start-now {
    grid-column: 1/5;
  }
  .footer__item__icon-wrapper{
    margin-top: 1rem;
  }
  .footer__bottom-text {
    grid-column: 1/5;
  }
}
@media all and (max-width: 800px) {
  #footer__item--about, 
  #footer__item--working-hours,
  #footer__item--location, 
  #footer__item--start-now {
    grid-column: 1/5;
  }
  .footer__logo {
    width: 13rem;
    margin-bottom: -3rem;
  }
  .footer__wrapper {
    gap: 2.4rem;
  }
  .footer__text,
  .footer__item__body {
    font-size: 2.4vw;
    line-height: 1.8;
  }
  #footer__item--working-hours {
    grid-column: 1/3;
  }
  #footer__item--working-hours .footer__item__body  {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer__item--location {
    grid-column: 1/5;
  }
  #footer__item--location .footer__item__body  {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__item__title {
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .footer__item__body  {

  }
}
