
body {
  background-color: var(--background);
}

button { cursor: pointer; }

/* header */
header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3.2rem;
}

/* header h1 */
header > h1 { margin: 3.25rem ;}
header > h1 > img { width: 13.5rem; height: 2.5rem; }

/* header gnb */
header > .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
header > .gnb > ul {
display: flex;
align-items: center;
gap: 6.3rem;
height: 100%;
}
header > .gnb > ul > li > a {
  font-family: var(--font);
  font-size: 1.2rem;
  color: var(--fontWhite);
  font-weight: 700;
  line-height: 1.8rem; /* 150% */
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-decoration: none;
}
header > .utility {
  display: flex;
  align-items: center;
  gap: 3.9rem;  
}
header > .utility > .btn-book {
  padding: 0.7rem 2.6rem;
  border-radius: 3rem;
  color: var(--fontBlack);
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem; /* 200% */
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
header > .utility > .btn {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}