/* common */
h1, h2, h3, h4, h5, h6{word-break: break-word; line-height: 3rem;}
.bg-primary{

}
p{
    
font-family: var(--font);
font-size: 1.6rem;
font-weight: 300;
line-height: 2.2rem;
letter-spacing: 0.08rem;
}
.hr{
    display: flex;
    width: calc(100% - 62rem);
    height: 2px;
    background-color: var(--bgWhite);
    opacity: .25;
    margin: 0 auto;
}
/* // */
.curriculum{

}
/*  */
.bg__training{
    width: 100%;
    height: 750px;
    background: url(./img/bg-01.png) center/cover no-repeat;
    background-attachment: fixed;
}
.bg__pt{
    width: 100%;
    height: 750px;
    background: url(./img/bg-02.png) center/cover no-repeat;
    background-attachment: fixed;
}
.bg__groupExercise{
    width: 100%;
    height: 550px;
    background: url(./img/bg-03.png) center/cover no-repeat;
    background-attachment: fixed;
}

.section__title::after {
    content: '';
    display: block;
    position: absolute;
    top: -15rem;
    right: 42.5rem;
    width: 22.6rem;
    height: 22.6rem;
    background: url(./img/icon-arrow.svg) center / contain no-repeat;
    opacity: .3;
}
/*  */
.Training{
    background-color: var(--background);
}
.section__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Heebo;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.2rem;
    text-align: center;
    text-transform: uppercase;

    /* fixed */
    position: relative;
    /* top: -143px; */
    top: -30.8rem;
    /* font-size: 18rem; */
    font-size: 22rem;
    line-height: 19.2rem;
    opacity: .9;
    text-shadow: 0px 0px 10px #5e5e5e57;
}
/* .section__subTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: Heebo;
    font-size: 4rem;
    font-weight: 700;
    line-height: 7.2rem;
    text-align: center;
    text-transform: uppercase;
} */
.section__subTitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    color: #FFF;
    font-family: Heebo;
    font-size: 6rem;
    font-weight: 700;
    /* line-height: 7.2rem; */
    line-height: 2.2rem;
    text-transform: uppercase;
    margin: 3rem 0 2rem;
}
.section__subTitle::before{
    content: '';
    display: block;
    position: absolute;
    top: -3.5rem;
    left: -3.2rem;
    width: 2.6rem;
    height: 4rem;
    background-image: url(./img/icon-plus.svg);
}
.pt {
    background-color: var(--background);
}
.pt__boxList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding:6rem 31rem;

    /* fixed */
    padding: 0 31rem 6rem;
    /* margin-top: -11rem; */
    margin-top: -26rem;
}
.pt__box{
    display: flex;
    min-height: 22rem;
    /* border: 1px solid #ddd; */
    background-color: var(--bgWhite);
}
.pt__imgBox, .pt__txtBox{
    flex: 1;
}
.pt__imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pt__boxTitle{
    color: var(--fontBlack);
    font-family: var(--font);
    font-size: 2.65rem;
    font-weight: 700;
    padding: 1.3rem;
}
.pt__boxCopy{
    padding: 0 1.3rem 1.3rem;
}
.ptStage__boxList{
    display: flex;

    gap: 1.5rem;
    padding:6rem 31rem;
}
.ptStage__box{
    flex: 1;
    height: 18.8rem;
    background-color: var(--bgWhite);
    opacity: 1;
    transition: ease-in 0.3s;
    cursor: pointer;    
    /* padding: 1rem; */
    position: relative;
}
.ptStage__box::after {
    content: '';
    /* background: linear-gradient(127deg, #fff 20%, rgba(255, 255, 255, 0.801) 50%, transparent 80%, transparent); */
    /* background: linear-gradient(127deg, #282828 20%, rgb(28 27 27 / 80%) 60%, transparent 80%, transparent); */
    background: linear-gradient(90deg, #464646e3, rgb(68 68 68 / 77%) 15%, transparent 90%, transparent);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
}
.ptStage__box:nth-child(1){
    background: url(./img/ptStage-step1.png) top/cover no-repeat;
}
.ptStage__box:nth-child(2){
    background: url(./img/ptStage-step2.png) top/cover no-repeat;
}
.ptStage__box:nth-child(3){
    background: url(./img/ptStage-step3.png) top/cover no-repeat;
}
.ptStage__box:nth-child(4){
    background: url(./img/ptStage-step4.png) top/cover no-repeat;
}
.ptStage__box:nth-child(5){
    background: url(./img/ptStage-step5.png) top/cover no-repeat;
}

.ptStage__box:hover{
    flex: 5;
    transition: ease-in 0.3s;
    /* opacity: .4; */
    color: var(--pointColor);
    /* border: 1px solid var(--bgWhite); */
    background-color: var(--background);
    background-position: center;
}

.ptStage__box:hover::after {
    background: linear-gradient(to right, var(--pointColor) 60%, transparent);
}

.ptStage__box .ptStage__boxInner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    z-index: 10;
}

.ptStage__title{
    color: var(--fontWhite);
    /* color: var(--fontBlack); */
    /* color: var(--pointColor); */
    font-family: var(--font);
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}
.ptStage__box:hover .ptStage__title{
    color: var(--fontBlack);
    font-size: 3rem;
}

.ptStage__box .ptStage__copy{
    display: none;
}
.ptStage__box:hover .ptStage__copy{
    display: block;
    color: var(--fontBlack);
    background-color: #affe0270; 
}




.groupExercise{
    background-color: var(--background);
}
