body {
    overflow-x: hidden;
}

/* 앵커 초기화 */
a {
    transition: all 1s;
}


a:visited,
a:link {
    color: var(--fontWhite);
    text-decoration: none;
}

/* 포인트 색상 */
.point {
    color: var(--pointColor);
}

/* 바디 */
body {
    background-color: var(--background);
    font-family: var(--font);
    color: var(--fontWhite);
    font-weight: 700;
}
h3{
    text-transform: uppercase;
}


/* 타이틀 */
.title {
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--fontWhite);
    height: 54.5rem;
    margin-left: 7.1rem;
}

.title-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.title__icon {
    height: 19.4rem;
    display: inline-block;
}

.title__icon img {
    width: 100%;
    height: 100%;
}

.title__week {
    margin-left: 3rem;
    display: inline-block;
    font-size: 3rem;
    line-height: 3.8rem;
    text-transform: uppercase;
}

.title__main h1 {
    font-size: 12rem;
    text-transform: uppercase;
}

.title__main h1 p {
    font-size: 16rem;
    text-transform: uppercase;
}


/* 메인 컨텐츠 */
.main-contents {
    background-color: var(--bgBlack);
    height: 63.7156rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main-contents-containar {
    max-width: 130rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
    margin: 0 7.1rem;
}

.main-contents-box {
    display: flex;
    justify-items: center;
    align-items: center;
}

/* .back-text {
    position: absolute;
    top: -6rem;
    color: var(--bgBlack);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--pointColor);
    opacity: 0.1;
    font-size: 11.2rem;
    font-weight: 700;
    line-height: 11.2rem;
    text-transform: uppercase;
} */

.back-text {
    position: absolute;
    top: -6rem;
    font-size: 11.2rem;
    font-weight: 700;
    line-height: 11.2rem;
    font-family: var(--altFont);
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #404040;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.textarea__title {
    width: auto;
    height: auto;
    margin-left: 0;
}
.textarea__title h3 {
    position: absolute;
    top: 0;
    min-width: 53rem;
}
.textarea__title .back-text,
.textarea__title .a11y-hidden {
    position: initial;
}


.textarea {
    color: var(--fontGrey);
    font-size: 1rem;
    line-height: 2.8rem;
    letter-spacing: 0.08rem;
}

.textarea__title {
    font-size: 7rem;
    position: absolute;
    top: 13rem;
    margin-left: 3rem;
}

.main-contents-1 {
    color: var(--fontGrey);
    font-size: 1.5rem;

}

.contents-imgbox {
    max-width: 40%;
    height: 70rem;
    object-fit: cover;
    overflow: hidden;
}

.contents-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-contents__text {
    margin-top: 3rem;
    /* margin-left: 3rem; */
}

/* 드롭다운 */
.dropdown-container {
    position: relative;
    top: 7rem;
}

.dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    color: var(--fontWhite);
    padding: 1.4rem;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    gap: 1rem;
    transition: all 0.5s ease;
}

.dropdown-label:hover {
    background-color: var(--fontGrey);
}

.arrow {
    display: inline-block;
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-right: 1rem solid var(--pointColor);
    border-bottom: 1rem solid var(--pointColor);
    transform: rotate(45deg);
    transition: all .03s ease-out;

}


.dropdown-content {
    max-height: 0;
    max-width: 60rem;
    overflow: hidden;
    background-color: var(--bgWhite);
    color: var(--bgBlack);
    font-size: 1.4rem;
    padding: 0 1rem;
    transition: all 0.5s ease;
}

.dropdown-title:hover+.dropdown-content,
.dropdown-title:hover .arrow+.dropdown-content {
    max-height: 60rem;
    padding: 1rem 1rem;
}


.dropdown-title:hover .arrow {
    transform: rotate(225deg);
}

/* 세컨드 컨텐츠 */
/* .second-back-text {
    position: absolute;
    top: 15rem;
    color: var(--bgBlack);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--pointColor);
    opacity: 0.1;
    font-size: 11.2rem;
    font-weight: 700;
    line-height: 11.2rem;
    text-transform: uppercase;
} */
.second-back-text {
    position: absolute;
    top: 15rem;
    font-size: 11.2rem;
    font-weight: 700;
    line-height: 11.2rem;
    text-transform: uppercase;
    font-family: var(--altFont);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #404040;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.second-contents__main {
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(./images/img-title1.jpg);
    object-fit: cover;

}


.second-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}



.contents-containar {
    max-width: 130rem;
    margin: 0 auto;
}

.second-contents__title {
    position: absolute;
    font-size: 12rem;
    text-transform: uppercase;
}



.second-contents_gymbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 9rem;
    padding: 1rem;
}

.second-contents__img {
    width: 50rem;
    min-width: 35rem;
    height: 40rem;
    /* object-fit: cover; */
    flex-shrink: 0;
}

.second-contents__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-contents__titlebox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-contents__titlebox__main {
    font-size: 5rem;
    color: var(--fontWhite);
    padding: 3rem;
    padding: 6rem 3rem 0 3rem;
}

.second-contents__titlebox:hover .second-contents__titlebox__main span {
    color: var(--pointColor);
}

.second-contents__titlebox__sub {
    max-width: 100rem;
    font-size: 2rem;
    color: var(--fontGrey);
    padding: 4rem;
    line-height: 2.5rem;
}

.btn-arr {
    padding: 0rem 5rem;
}

.second-contents__titlebox__arr {
    display: inline-flex;
    align-items: center;
    padding: 1.6rem 6rem 1.6rem 5rem;
    border-radius: 3rem;
    border: .1rem solid var(--fontWhite);
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.btn-arr_sub {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    border-radius: 3rem;
    border: .1rem solid var(--fontGrey);
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
}

.btn-arr_sub img {
    width: 2rem;
    height: 2rem;
}

.btn-arr:hover .btn-arr_sub img {
    transform: rotate(45deg);
    transition: all 0.5s;
}

/* 써드 컨텐츠 */
.third-contents__main {
    height: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10rem;
    background: url(./images/img-contents2.jpg);
}

.third-contents__title {
    position: absolute;
    font-size: 10rem;
    text-transform: uppercase;
}

.third-contents__coachbox {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 5rem auto;
}

.third-contents__coachcard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bgBlack);
    max-width: 45%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.coach-name {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.coach-ex {
    font-size: 2rem;
    margin: 3rem 2rem;
}

.coach-clip {

    font-size: 0rem;
    cursor: pointer;
    transition: .5s;

}

.third-contents__coachcard:hover .coach-clip {
    font-size: 4rem;
}

.coach-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25.4rem;
    min-width: 10rem;
    height: 25.4rem;
    min-height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    aspect-ratio: 1 / 1;
}

.coach-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.coach-click {
    position: absolute;
    border-radius: 50%;
    border: .1rem solid var(--bgWhite);
    width: 6rem;
    height: 6rem;
}

.coach-click img {
    width: 100%;
    height: auto;
}

.coach-img:hover .coach-click img {
    cursor: pointer;
    transform: rotate(45deg);
    transition: all .5s;
}



/* 미디어 쿼리 1300 */
@media all and (max-width: 1300px) {
    .main-contents {
        padding: 0 3.2rem;
    }

    /* 1300 title  */
    .title {
        height: 50rem;
        margin: 0 auto;
        padding: 3.2rem;
    }

    .title__icon {
        height: 15rem;
    }

    .title__week {
        font-size: 3rem;
    }

    .title__main h1 {
        font-size: 9rem;
    }

    .title__main h1 p {
        font-size: 12rem;
    }

    /* 1300 title end */


    .textarea__title {
        font-size: 5rem;
    }

    .second-contents__title {
        font-size: 10rem;
    }

    .third-contents__coachcard {
        max-width: 70%;
    }

    .back-text {
        font-size: 7rem;
    }

    .textarea__title {
        font-size: 4rem;
    }

    .second-contents_gymbox {
        flex-direction: column;
        padding: 1rem;
    }

    .second-back-text {
        font-size: 7rem;
    }
}

/* 미디어쿼리 800 */


@media all and (max-width: 800px) {

    .main-contents {
        padding: 0 3.2rem;
    }

    .main-contents-containar {
        max-width: 80rem;
        margin: 0 .1rem;
    }

    .title {
        height: 30rem;
        margin-bottom: 4rem;
    }

    .title__icon {
        height: 5rem;
    }

    .title__week {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .title__main h1 {
        font-size: 5rem;
        text-transform: uppercase;
    }

    .title__main h1 p {
        font-size: 6.5rem;
    }

    .second-contents__main,
    .third-contents__main {
        height: 44rem;

    }

    .second-contents__title,
    .third-contents__title {
        font-size: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back-text {
        font-size: 5rem;
    }

    .textarea__title {
        font-size: 3rem;
    }

    .main-contents__text {
        margin: 0;
    }

    .main-contents-1 {
        margin-top: 3rem;
        font-size: 1.2rem;
    }

    .main-contents__text {
        margin-left: 0rem;
    }

    .dropdown-title {
        font-size: 1.5rem;
    }




    .contents-imgbox:nth-child(1) {
        display: none;
    }


    .contents-containar {
        max-width: 80rem;
    }

    .second-contents_gymbox {
        padding: 0;
    }

    .second-contents__img {
        max-width: 30rem;
        min-width: 30rem;
    }

    .second-contents__titlebox__main {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
    }

    .second-contents__titlebox__sub {
        font-size: 1.3rem;

    }

    .coach-img {
        height: 15rem;
        width: 15rem;
    }

    .coach-name {
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    .coach-ex {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    .third-contents__coachcard:hover .coach-clip {
        font-size: 2rem;
    }

}