footer {
  width: 100%;
  background-color: var(--bgBlack);
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    width: 130rem;
    margin: 0 auto;
    row-gap: 6.25rem;
    column-gap: 6.9rem;
    #logo {
      margin-top: 14.1rem;
      width: 27rem;
      height: 5rem;
    }
    .footer-body {
      margin-top: 14.1rem;
      grid-column: 2/5;
      color: var(--fontWhite);
      font-family: var(--font);
      font-size: 2rem;
      font-weight: 300;
      line-height: 3.3rem; /* 165% */
      letter-spacing: 0.08rem;
      text-transform: uppercase;
    }
    .footer-item {
      height: 26.6rem;
    }
    .footer-item-title {
      color: var(--fontWhite);
      font-family: var(--font);
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 3.8rem; /* 172.7% */
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
    .footer-item-body {
      color: var(--fontWhite);
      font-family: var(--font);
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem; /* 175% */
      letter-spacing: 0.08rem;
      display: flex;
      flex-direction: column;
    }   
    #footer-workingHours {
      .footer-item-body {
        gap: 1.3rem;  
      }
    }
    #footer-location {
      .footer-item-body {
        gap: 3.7rem;  
      }
    }
    #footer-startNow {
      .footer-item-title {
        &::after {
          content: "";
          background-image: url(images/ico_arrow_7.svg);
          display: inline-flex;
          margin-left:1rem;
          width: 1.63rem;
          height: 1.63rem;
        }
      }
      .icon-wrapper {
        height: 2rem;
        margin-top: 5rem;
        display: flex;
        gap: 1.88rem;
        img {
          height: 100%;
        }
      }
      .btn-arrow {
        width: 100%;
      }
      input {
        border: none;
      }
    }
    .footer-bottom-text {
      padding:1.2rem 0;
      grid-column: 1/5;
      color: var(--fontWhite);
      font-family: var(--font);
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2.8rem; /* 200% */
    }
  }
}

@media all and (max-width: 800px) {
  footer {
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
      
      width: 100%;
      margin:0;
      gap: 1rem;
      background-color: red;
      .footer-body  {
        display: none;
      } 
    }
  }
}


